*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --black: #000000;
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --grey: #F2F2F2;
    --white: #FFFFFF;
}

body{
    width:100%;
    margin:0;
    padding:0;
    font-size: 16px;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem; 
    font-weight: inherit;
}

h3{
    font-size: 1.3rem;
}

/*Header*/
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
}

#subscribe{
    color: var(--blue);
    font-weight: bold;
}

.MainNav{
    display: flex;
    justify-content: flex-end;
}
.MainNav nav{
    display: flex;
}

.MainNav a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--black);
    text-decoration: none;
    border-top: 3px solid transparent;
    height: 100px;
    padding-left: 20px; /*???* Est-ce que padding ok ici pour obtenir trait débordant du texte ?*/
    padding-right: 20px;
}

.MainNav a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

/*Trouvez votre hébergement*/
.SearchZone{
    display: inline-flex;
    justify-content: space-between;
    height: 40px;
}

.SearchZone i{
    display:flex;
    align-items: center;
    justify-content: center;;
    width: 40px;
    background-color: var(--grey);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.SearchZone input{
    border: 1px var(--grey) solid;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.SearchZone button{
    background-color: var(--blue);
    padding-left: 15px;
    padding-right: 15px;
    border: 1px var(--blue) solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
    font-weight: bold;
}

.Filters{
    display: flex; 
    align-items: center;
    font-weight: bold;
}

.Filters ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Filters i{
    color:var(--blue);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--lightblue);
    border-radius: 100%;
}

.Filters i:hover{
    color: var(--lightblue);
    background-color: var(--blue);
}

.Filters li{
    display: flex;
    align-items: center;
    border: 1px var(--grey) solid;
    border-radius: 35px;
    list-style-type: none;
    margin-right: 20px;
}

.FilterNames{
    padding-left: 15px;
    padding-right: 15px;
}

.SearchInfo{
    display: flex;
    align-items: center;
}

.SearchInfo i{
    color:var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 1px var(--grey) solid;
    border-radius: 100%;
    margin-right: 5px;
}

/*Hébergements à Marseille*/
article{
    background-color: var(--grey);
    border-radius: 15px;
}

.HebergementsCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--white);
}

