*{
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

:root{
    --black: #000000;
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --grey: #F2F2F2;
    --white: #FFFFFF;
}

body{
    max-width: 1440px;
    margin:0;
    padding:0 50px;
    
    font-size: 16px;
}

h1{
    font-size: 1.5rem;
}

h2{
    font-size: 1rem; 
    font-weight: inherit;
}

h3{
    font-size: 1.3rem;
}

a{
    color: inherit;
    text-decoration: none;
}

/*Header*/
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height:100px;
}

#subscribe{
    color: var(--blue);
    font-weight: bold;
}

.MainNav{
    display: flex;
    justify-content: flex-end;
}
.MainNav nav{
    display: flex;
}

.MainNav a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: var(--black);
    text-decoration: none;
    border-top: 3px solid transparent;
    height: 100px;
    padding-left: 20px;  
    padding-right: 20px;
}

.MainNav a:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

/*Trouvez votre hébergement*/
.SearchZone{
    display: inline-flex;
    justify-content: space-between;
    height: 40px;
}

.SearchZone i{
    display:flex;
    align-items: center;
    justify-content: center;;
    width: 40px;
    background-color: var(--grey);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.SearchZone input{
    border: 1px var(--grey) solid;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}

.SearchZone button{
    background-color: var(--blue);
    padding-left: 15px;
    padding-right: 15px;
    border: 1px var(--blue) solid;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: var(--white);
    font-weight: bold;
}

.Filters{
    display: flex; 
    align-items: center;
    font-weight: bold;
}

.Filters ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Filters i{
    color:var(--blue);
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--lightblue);
    border-radius: 100%;
}

.Filters li:hover i{
    color: var(--lightblue);
    background-color: var(--blue);
}

.Filters li{
    display: flex;
    align-items: center;
    border: 1px var(--grey) solid;
    border-radius: 35px;
    list-style-type: none;
    margin-right: 20px;
    cursor: pointer;
}

.FilterNames{
    padding-left: 15px;
    padding-right: 15px;
}

.SearchInfo{
    display: flex;
    align-items: center;
}

.SearchInfo i{
    color:var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    border: 1px var(--grey) solid;
    border-radius: 100%;
    margin-right: 5px;
}
/*Hébergements + Populaires*/
.HebergementsZone{
    display:flex;
    justify-content: space-between;

}

/*Hébergements à Marseille*/
.HebergementsMarseilleZone{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto) ;
    background-color: var(--grey);
    border-radius: 15px;
    grid-gap: 10px;
    padding: 30px;
    /*grid-auto-rows: 600px;*/
}

.HebergementsMarseilleZone i{
    color: var(--blue);
}

.HebergementsMarseilleTitle{
    grid-column:1/4;
}

.HebergementsCards{
    display: block;
    background-color: var(--white);
    border: 3px var(--white) solid;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002d;
}

.HebergementsCardsImg{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.HebergementsDetails{
    padding-left: 20px;
    padding-bottom: 10px;
}

/*Les plus populaires*/
.HebergementsPopulairesZone{
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    border-radius: 15px;
}

.HebergementsPopulairesZone i{
    color: var(--blue);
}

.PopulairesCards{
    display: block;
    background-color: var(--white);
    border: 3px var(--white) solid;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002d;
}

.PopulairesCardsImg{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
/*Activités à Marseille*/
.ActivitesZone{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--white);
    grid-gap: 10px;
    padding: 30px;
}

.ActivitesMarseilleTitle{
    grid-column:1/5;
    grid-row: 1;
}

.ActivitesVieuxPort{
    grid-column: 1;
    grid-row: 2/3;
}

.ActivitesFortPomegues{
    grid-column: 2;
    grid-row: 2;
}

.ActivitesIlesFrioul{
    grid-column: 2;
    grid-row: 3;
}

.ActivitesPNCalanques{
    grid-column: 3;
    grid-row: 2/3;

}

.ActivitesNDGarde{
    grid-column: 4;
    grid-row: 2;
}

.ActivitesParcLongchamp{
    grid-column: 4;
    grid-row: 3;
}

.ActivitesZone figure{
    display: block;
    background-color: var(--white);
    border: 3px var(--white) solid;
    border-radius: 15px;
    box-shadow: 0 0 16px #0000002d;
}

.ActivitesImg{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and(max-width:720px){
    .MainNav{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .HebergementsZone{
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .HebergementsMarseilleZone{
        display: flex;
        flex-direction: column;
    }
    .ActivitesZone{
        display: flex;
        flex-direction: column;
    }
}

